body{
    margin: 0;
    padding: 0;
}
.wrapper{
    border: 1px solid black;
    height: auto;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
i.fa-solid.fa-minus.fa_style:hover {
    color: #ff5a5a;
}
i.fa-solid.fa-plus.fa_style:hover {
    color: #ff6a6a;
}
i.fa-solid.fa-minus.fa_style{
    color: #525252;
}
i.fa-solid.fa-plus.fa_style{
    color: #525252;
}
.wrapper_detail{
    height: auto;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.hinhanh_sanpham{
    float: left;
    width: 35%;
}
.chitiet_sanpham{
    float: left;
    width: 50%;
}
input.themgiohang {
    border: none;
    background-color: #c91b1bd6;
    font-size: 16px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.header{
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid black;
    height: 150px;
    width: 100%;   
}
.menu{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    background-color: rgb(107, 232, 69);
}
.menu 
ul.list_menu{
    height: 100%;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
ul.baiviet{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.baiviet{
    text-align: center;
}
ul.list_menu li{
    margin-right: 5px;
    padding-right: 10px;
    
}
ul.list_menu li:hover{
    background-color: bisque;
}
ul.list_menu li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    line-height: 50px;
    text-align: center;
}



.main{
    border: 1px solid black;
    height: auto;
    width: 100%;
}
.sidebar{
    border: 1px solid black;
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    background-color: aquamarine;
}
ul.list_sidebar{
    padding: 0;
    width: 100%;
    list-style: none;
    
}
ul.list_sidebar li{
    
    padding-right: 10px;
    
}
ul.list_sidebar li:hover{
    background-color: rgb(130, 224, 255);
}
ul.list_sidebar li a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(59, 131, 255);
    line-height: 50px;
    margin-left: 5%;
}
.maincontent{

    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
ul.product_list{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li{
    width: 22%;
    border: 1px solid #ddd;
    margin: 10px;
    background-color: rgb(163, 255, 169);
    float: left;
    height: 350px;
}
ul.product_list li img{
    width: 100%;
    height: 70%;
}
ul.product_list li a{
    text-decoration: none;
}
ul.product_list li p {
    margin-bottom: 0;
    margin-top: 5px;
}
p.title_product{
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.clear{
    clear: both;
}
.footer{
    border: 1px solid black;
    height: 150px;
    width: 100%;
}
p.footer_copyright {
    text-align: center;
    color: #000;
}
/* Tabs */
.tabs {
    width: 100%;
    background-color: #09F;
    border-radius: 5px 5px 5px 5px;
  }
  ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
  }
  ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
  }
  ul#tabs-nav li:hover,
  ul#tabs-nav li.active {
    background-color: #08E;
  }
  #tabs-nav li a {
    text-decoration: none;
    color: #FFF;
  }
  .tab-content {
    padding: 10px;
    border: 5px solid #09F;
    background-color: #FFF;
  }
  
/* jQuery Demo */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
  }
  
  /* Responsive Arrow Progress Bar */
  
  .container {
    font-family: 'Lato', sans-serif;
  }
  
  .arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #777;
    cursor: default;
    margin: 0 1px 0 0;
    padding: 10px 0px 10px 0px;
    width: 15%;
    float: left;
    position: relative;
    background-color: #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .arrow-steps .step a {
    color: #777;
    text-decoration: none;
  }
  
  .arrow-steps .step:after,
  .arrow-steps .step:before {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #ddd;
    z-index: 2;
  }
  
  .arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
  }
  
  .arrow-steps .step:first-child:before {
    border: none;
  }
  
  /* .arrow-steps .step:last-child:after {
    // border: none;
  } */
  
  .arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .arrow-steps .step:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .arrow-steps .step span {
    position: relative;
  }
  
  *.arrow-steps .step.done span:before {
    opacity: 1;
    content: "";
    position: absolute;
    top: -2px;
    left: -10px;
    font-size: 11px;
    line-height: 21px;
  }
  
  .arrow-steps .step.current {
    color: #fff;
    background-color: #5599e5;
  }
  
  .arrow-steps .step.current a {
    color: #fff;
    text-decoration: none;
  }
  
  .arrow-steps .step.current:after {
    border-left: 17px solid #5599e5;
  }
  
  .arrow-steps .step.done {
    color: #173352;
    background-color: #2f69aa;
  }
  
  .arrow-steps .step.done a {
    color: #173352;
    text-decoration: none;
  }
  
  .arrow-steps .step.done:after {
    border-left: 17px solid #2f69aa;
  }